#路径:/usr/lib/systemd/system

[Unit]
Description=mongodb
After=network.target
 
[Service]
Type=forking
ExecStart=
ExecReload=
ExecStop=
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target